In [11]:
%pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-4.5.0-py3-none-macosx_12_0_arm64.whl.metadata (17 kB)
Requirement already satisfied: numpy>=1.17.0 in /Users/anerudhshyam/Desktop/.venv/lib/python3.11/site-packages (from lightgbm) (2.2.1)
Requirement already satisfied: scipy in /Users/anerudhshyam/Desktop/.venv/lib/python3.11/site-packages (from lightgbm) (1.15.1)
Downloading lightgbm-4.5.0-py3-none-macosx_12_0_arm64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 4.8 MB/s eta 0:00:00a 0:00:01
Installing collected packages: lightgbm
Successfully installed lightgbm-4.5.0
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import SelectKBest, f_regression

In [4]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')

In [37]:
train_df

           f1      f2      f3      f4  ...     f48     f49     f50     target
0      52.843  66.492  57.300  25.224  ...  57.277  46.133  40.266  148.76994
1      50.478  53.147  46.412  38.045  ...  47.258  46.820  40.191  152.01250
2      16.432  30.201  43.268  76.786  ...  57.780  67.637  59.250  141.96694
3      39.355  33.501  76.737  57.453  ...  31.459  39.186  75.009  152.49692
4      30.337  62.905  70.896  35.969  ...  48.503  50.755  49.024  149.01620
...       ...     ...     ...     ...  ...     ...     ...     ...        ...
11994  55.125  40.855  51.642  53.804  ...  54.925  46.501  52.830  153.85584
11995  37.690  48.136  39.153  40.591  ...  51.600  54.289  56.318  139.71284
11996  43.906  56.481  61.781  27.835  ...  42.545  60.075  43.807  158.45490
11997  37.697  33.088  39.197  54.305  ...  48.101  42.074  56.213  146.29474
11998  34.294  39.488  47.056  43.903  ...  33.922  62.848  59.570  155.53330

[11999 rows x 51 columns]

In [34]:
X_train=train_df.drop(columns=['target'])
y_train=train_df[['target']].values.ravel()

poly1=PolynomialFeatures(interaction_only=True,include_bias=False)
poly2=PolynomialFeatures(interaction_only=False,include_bias=False)
X_train_poly1=poly1.fit_transform(X_train)
X_train_poly2=poly2.fit_transform(X_train)

In [22]:
X_spl1,X_val1,y_spl1,y_val1= train_test_split(X_train_poly1,y_train,test_size=0.2,random_state=42)
model1=RandomForestRegressor(n_estimators=350,verbose=1,random_state=42)
model1.fit(X_spl1,y_spl1)

y_pred1=model1.predict(X_val1)

X_spl2,X_val2,y_spl2,y_val2= train_test_split(X_train_poly2,y_train,test_size=0.2,random_state=42)
model2=RandomForestRegressor(n_estimators=350,verbose=1,random_state=42)
model2.fit(X_spl2,y_spl2)

y_pred2=model2.predict(X_val2)

r_1=r2_score(y_val1,y_pred1)
r_2=r2_score(y_val2,y_pred2)

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:  9.8min
[Parallel(n_jobs=1)]: Done 199 tasks      | elapsed: 39.8min
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done 199 tasks      | elapsed:    0.1s
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed: 10.2min
[Parallel(n_jobs=1)]: Done 199 tasks      | elapsed: 41.7min
[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.0s
[Parallel(n_jobs=1)]: Done 199 tasks      | elapsed:    0.1s

In [26]:
r_1

0.5117171634650981

In [27]:
r_2

0.5113676578586112

In [36]:
X_test=test_df.drop(columns=['id'])
X_test
X_test_poly=poly1.transform(X_test)

y_test=model1.predict(X_test_poly)
y_test

[Parallel(n_jobs=1)]: Done  49 tasks      | elapsed:    0.1s
[Parallel(n_jobs=1)]: Done 199 tasks      | elapsed:    0.5s

array([151.3043112 , 147.54572286, 149.73320326, ..., 152.85849006,
       154.50537777, 151.13465983], shape=(12000,))

In [38]:
id_lis=[x for x in test_df['id']]

target_lis=list(y_test)
columns={'id':id_lis,'target':target_lis}

final_df=pd.DataFrame(columns)
final_df

          id      target
0          1  151.304311
1          2  147.545723
2          3  149.733203
3          4  145.935260
4          5  152.068301
...      ...         ...
11995  11996  160.638947
11996  11997  154.406990
11997  11998  152.858490
11998  11999  154.505378
11999  12000  151.134660

[12000 rows x 2 columns]

In [40]:
final_df.to_csv('hack2_predictions2.csv',index=False)