In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor, ExtraTreesRegressor
from sklearn.model_selection import train_test_split,GridSearchCV, KFold

In [14]:
train_df=pd.read_csv('train.csv')
test_df=pd.read_csv('test.csv')
test_df.head()

   id      f1      f2     f3    f4      f5      f6      f7  f8  f9
0   1   20.50    0.00  84.95  0.00  500.00  117.30  229500  10  30
1   2  274.70  148.85   0.00  0.15  439.60  500.00  243000   5  25
2   3   25.75    0.00  68.95  0.00  500.00  174.95  333000  10  30
3   4   21.05    0.00  89.10  0.00  500.00  114.95  387000   5  25
4   5   14.40   19.60   0.00  0.00  296.05  500.00  121500   5   5

In [16]:
scaler=StandardScaler()

X_train=train_df.drop(columns=['target'])
y_train=train_df[['target']].values.ravel()
X_test=test_df.drop(columns=['id'])

X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

cv=KFold(n_splits=5,shuffle=True,random_state=42)
#xtra= ExtraTreesRegressor(n_estimators=900,random_state=42)
xtra=ExtraTreesRegressor()
parameters={
    'n_estimators':[850,900,950]
}
grid=GridSearchCV(xtra,parameters,scoring="r2",cv=cv)
grid.fit(X_train,y_train)
xtra_best=grid.best_estimator_
print(grid.best_params_)

xtra_best.fit(X_train,y_train)

y_test=xtra_best.predict(X_test)

{'n_estimators': 900}

In [17]:
y_test

array([ 4.1       , 54.93998889,  5.15103333, ...,  3.13      ,
        2.80986667, 50.86877778], shape=(15041,))

In [18]:
id_lis=[x for x in test_df['id']]

target_lis=list(y_test)
columns={'id':id_lis,'target':target_lis}

final_df=pd.DataFrame(columns)
final_df

          id     target
0          1   4.100000
1          2  54.939989
2          3   5.151033
3          4   4.209978
4          5   2.880044
...      ...        ...
15036  15037  81.674989
15037  15038   3.310044
15038  15039   3.130000
15039  15040   2.809867
15040  15041  50.868778

[15041 rows x 2 columns]

In [19]:
final_df.to_csv('hack2_predictions1.csv',index=False)